name: Testes com Mocha

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkut@v3

      - name: Configurar Node.jobs 
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Instalar dependência
        run: npm install

      - name: Garantir permissões de execução para Mocha 
        run: chmod +x ./node_modules/.bin/Mocha

      - name: Verificar o caminho do Mocha
        run: ls -l .node_modules/.bin/Mocha

      - name: Rodar os testes com Mocha
        run: npx mocha